.music{
    background-color: blue;
    border-radius: 20px;
}
body{
    background-size: cover;
    background-position: top;
    background-image:url(\Screenshot\ 2023-10-06\ 212512.png) ;
}    
.list{
display: flex;    
}
.song{
    background-color: chocolate;
    color: rgb(210, 247, 4);
    border-radius: 40px;
}
.search{
    border-radius: 40%;
    width: 70px;
    height: 70px;
}
