.music{
    background-color: blue;
    border-radius: 20px;
}
body{
    background-size: cover;
    background-position: top;
    background-color: rgb(81, 94, 119);
}    
.list{
display: flex;    
}
.song{
    background-color: rgb(250, 122, 31);
    color: rgb(210, 247, 4);
    border-radius: 40px;
}
.search{
    border-radius: 40%;
    width: 70px;
    height: 70px;
}